node_modules

# Hardhat files
/cache
/artifacts

# TypeChain generated types (not used in Hardhat v3)
/types

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
